.title {
  color: #2586e7;
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
  padding: 10px 20px;
  box-shadow: 2px 1px 14px 0px grey;
  border: 1px solid grey;
  border-radius: 2px;
}
